{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="{% static 'aff/images/favicon.ico' %}">
  <strong><title href="#">Guitar Awesome</title></strong>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'aff/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'aff/css/guitarSite.css' %}" rel="stylesheet">

</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:30pt;">Guitar</span>&nbsp;<span style="color:#FFD300; font-size:32pt;">Awesome</span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'covers' %}">Covers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Media</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header>

</header>

<!-- Page Content -->
<br/>
  <hr>
<br/>

  <div class="container">
<!--   <strong><h1 class="my-4">Keep Up !</h1> </strong> -->

  <div class="container-fluid padding">
    <div class="row welcome text-center" >
      <div class="col-12" style="padding-top: 20px;">
        <h1 class="display-4">Music Is Magical</h1>
      </div>
      <hr>
      <div class="col-12">
        <p class="lead"> This site is a place to find out more about the instruments and their personality. After all it's a preference that will go far with you and make beautiful music. </p>
      </div>
    </div>
    </div>
  </div>
<div class="wrapper" style="margin:0 auto; width:1000px">
<div class="row">

    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/2RP6ymX"><img class="card-img-top" src="{% static '/aff/images/MartinDCX1AE.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/2RP6ymX" style="text-decoration:none">Martin DCX1AE</a>
          </h4>
          <p class="card-text">A Sitka spruce top is paired with mahogany patterned high-pressure laminate (HPL) back and sides for a very classic looking Martin Dreadnought. This 14-fret guitar cutaway features a hand-rubbed top and neck finish with a Richlite fingerboard and bridge and Fishman Sonitone electronics.</p>
          <a href="https://amzn.to/2RP6ymX"><button type="button" class="btn btn-warning">$679</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3eGpIF8"><img class="card-img-top" src="{% static '/aff/images/YamahaDread_1.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3eGpIF8" style="text-decoration:none">Yamaha Dreadnought</a>
          </h4>
          <p class="card-text">The perfect entry level guitar. The comfortable dreadnought body, professional-grade tonewoods, and fast-playing necks make this acoustic great first instrument for the beginner.</p>
          <a href="https://amzn.to/3eGpIF8"><button type="button" class="btn btn-warning">$199</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/2Kkjm0e"><img class="card-img-top" src="{% static 'aff/images/CherryElec_1.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/2Kkjm0e" style="text-decoration:none">Schecter</a>
          </h4>
          <p class="card-text">The Schecter Omen Extreme-6 FR Electric Guitar is loaded with the features that modern guitarists seek-like the beautifully figured, carved maple top on a basswood body with a comfortable double-cutaway that gives you full access to the fast maple neck fitted with a rosewood fingerboard with 24 extra-jumbo frets.</p>
          <a href="https://amzn.to/2Kkjm0e"><button type="button" class="btn btn-warning">$489</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3cxZVNI"><img class="card-img-top" src="{% static '/aff/images/washburn_wd7SCE.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3cxZVNI" style="text-decoration:none">Washburn</a>
          </h4>
          <p class="card-text">A personal favorite. The scalloped Sitka Spruce bracing help define note clarity throughout the entire register of the instrument, making it unparalleled in it’s price range. Whether at the living room jam, the campfire singalong or the stage; This Washburn Harvest D7SCE will be the perfect companion. New or used this is a beautiful instrument.</p>
          <a href="https://amzn.to/3cxZVNI"><button type="button" class="btn btn-warning">$249</button></a>
        </div>
      </div>
    </div>
</div>
</div>
  <!-- /.row -->
<br/>
  <hr>
<br/>
  <!-- Features Section -->
<div class="container">
<div class="row welcome text center">
    <div class="col-lg-10">
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "guitarawesome-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "35c6ab57886bb70b3abf588b381eb889";
        amzn_assoc_asins = "B01EHJL652,B01N4DSQBR,B07X5F81JS,B07R3SD5MM";
        amzn_assoc_search_bar = "true";
        amzn_assoc_title = "More Favs";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
</div>
  <!-- /.row -->

 <hr>

  <!-- Call to Action Section -->
<div class="row justify-content-center">
   <div class="col-md-3 col-sm-4"style="padding-top:20px;">
      <a class="btn btn-sm btn-warning btn-block" href="{% url 'covers' %}" target="_blank">cover of the week</a>
    </div>
    <div class="col-md-4 col-sm-4" style="padding-top:15px">
      <p>Music styles are many and guitars are no different. Expand and challenge your skills by covering some of the greatests songs from classic to trendy. </p>
    </div> 
  
</div>


<br/>
  <hr>
<br/>
  <!-- Footer -->

  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row text-center"> 

          <div class="col-md-12 col-lg-12">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:10pt;">&copy Guitar</span>&nbsp;<span style="color:#FFD300; font-size:11pt;">Awesome </span><span style="color:whitesmoke; font-size:10pt;">2020</a>
      </div> 
      </div>
    </div>

  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'aff/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'aff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>