{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <strong><title href="#">Awesome Blog</title></strong>
  <link rel="shortcut icon" type='image/png' href='/aff/images/favicon.png'/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'aff/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <style type="text/css">
      .fa{
          font-size: 30px;
          margin-top: 20px;
          margin-bottom:20px;
      }
  </style>
  <!-- Custom styles for this template -->
  <link href="{% static 'aff/css/modern-business.css' %}" rel="stylesheet">

</head>


  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:30pt;">Guitar</span>&nbsp;<span style="color:#FFD300; font-size:32pt;">Awesome</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'covers' %}">Covers</a>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <header>

  </header>

  <!-- Page Content -->


<br/>
	<hr>
<br/>

    <!-- Marketing Icons Section -->
 
<div class="container">
           <div class="row welcome text-center" >
      <div class="col-md-10" style="padding-top: 20px;">
        <h1 class="display-4">Inspiration of the Month</h1>
      </div>

           <div class="col-lg-10 col-md-10 col-sm-12 post-title-block" style="padding-top:20px">
               <h5 class="display-6">Ed Sheeran</h5>    
            </div>

      </div>
    </div>

    <br/>
      <hr class="col-md-10">
    <br/>
<div class="wrapper" style="margin:0 auto; width:1125px;">
  <div class="col-lg-10 text-center col-md-10 col-sm-12">
              <p style="text-align:justify">Ed Sheeran is probably one of the most talented songwriters of our time. Most artists aren't able to achieve as many number one hits in as little time as he has. Some songs can take months to perfect. In our flooded market of music his music reigns supreme and shows no signs of slowing anytime soon. </p>
         <blockquote>
              <p>“Be nice to everyone, always smile, and appreciate things because it could all be gone tomorrow.”
</p>
              <footer>― Ed Sheeran <cite title="Source Title">Source Title</cite></footer>
         </blockquote>
              <p style="text-align:justify">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p style="text-align:justify">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <blockquote>
              <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </blockquote>

          <div class="image-block">
               <img src="{% static '/aff/images/sheeranStage.jpg' %}" width="925" height="700">
          </div>

              <p style="text-align:justify; padding-top:20px">Ed Sheeran does what he does best performing live on stage. He's shown here with his Ed Sheeran signature series Little Martin . <a href="https://amzn.to/2CrawNU"><button type="button" class="btn btn-warning">Get now</button></a> </p>

  </div>       

            <div class="col-md-10">
               <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>


               <p style="text-align:justify">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
</div>
                 <div class="well col-12 text-center">
                    <large>Video Here</large>
                </div>
             </div>
         </div>

<br/>
	<hr>
<br/>
    <!-- Features Section -->
<div class="container">
<div class="row welcome text center">
    <div class="col-lg-10">
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "guitarawesome-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "35c6ab57886bb70b3abf588b381eb889";
        amzn_assoc_asins = "B01EHJL652,B01N4DSQBR,B07X5F81JS,B07R3SD5MM";
        amzn_assoc_search_bar = "true";
        amzn_assoc_title = "Fun Stuff";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
</div>

    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    
      <i class="fa fa-heart col-md-12 text-center"> super cool</i>
     <div class="row text-center">
        <div class="col-lg-4 offset-2 " style="padding-left:80px;">
           <a class="btn btn-md btn-warning btn-block" href="{% url 'covers' %}" target="_blank">cover of the week</a>
        </div>
       <div class="col-md-4">
            <p>The history of music goes back as far as history itself. Language boundaries are shattered one note at a time. </p>
       </div>
     </div>

<br/>
  <hr>
<br/>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="row text-center">
      <div class="col-md col-lg">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:10pt;">&copy Guitar</span>&nbsp;<span style="color:#FFD300; font-size:11pt;">Awesome </span><span style="color:whitesmoke; font-size:10pt;">2020</a>
      </div> 
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'aff/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'aff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>