{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="{% static 'aff/images/favicon.ico' %}">
  <strong><title href="#">Cover Songs</title></strong>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'aff/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'aff/css/guitarSite.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:30pt;">Guitar</span>&nbsp;<span style="color:#FFD300; font-size:32pt;">Awesome</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Covers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- <span style="color:whitesmoke;">Guitar</span>&nbsp;<span style="color:#FFD300;">Awesome</span> -->
  <header>
    

  </header>
  <!-- Page Content -->
  <div class="container">
<br/>
	<hr>
<br/>
    <!-- Marketing Icons Section -->
     <!-- Portfolio Section -->
    <strong><h1 class="my-4" style="text-align:center"> Covers of Awesome Songs</h1> </strong>
        <div class="row-md-4 center">
         <div class="embed-responsive embed-responsive-16by9"><video src="{% static 'aff/landGA.mov' %}" autoplay="true" loop="true" controls>video here</video>
          <!--  <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/y4FQZ0IB6MA?rel=0&amp; controls=0" frameborder="0" allowfullscreen></iframe> -->
        </div>
      </div>
      <br>
      <br>
      <div class="row">
  <div class="col-md">
    <p class="vid2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur aperiam dignissimos odit voluptatem accusantium maxime ducimus, excepturi optio consequatur, amet quae vitae fuga facilis suscipit voluptate minus. Aliquid nostrum explicabo libero? Adipisci, pariatur impedit laudantium laborum ipsum, quaerat corporis voluptatum dolores obcaecati quasi, est molestiae nemo rem! Temporibus rem quos atque totam iste porro, deleniti necessitatibus perferendis corporis eveniet. Voluptatum nemo beatae itaque architecto, accusantium maxime sed doloremque velit dolore qui ut pariatur molestiae quisquam, quo delectus similique perferendis id, inventore illo. Dolores dolor nemo fugiat, ipsa provident illo velit obcaecati debitis dolorum excepturi quae accusantium nisi quaerat optio!</p>
  </div>
</div>
   <!-- /.row -->
<br/>
	<hr>
<br/>
    <!-- Features Section -->

<div class="container">
 <div class="row justify-content-center">
    <div class="col-lg-10">
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "guitarawesome-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "35c6ab57886bb70b3abf588b381eb889";
        amzn_assoc_asins = "B01EHJL652,B01N4DSQBR,B07X5F81JS,B07R3SD5MM";
        amzn_assoc_search_bar = "true";
        amzn_assoc_title = "Play Easier";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
</div>

    <!-- /.row -->

  <hr>

    <!-- Call to Action Section -->
    <div class="col mb-2">
      <div class="col-md-6">
        <p>It has been said that a person does not choose a style of music. The music chooses the person . </p>
      </div>   
    </div>
  </div>
  <!-- /.container -->
<br/>
 <hr>
<br/>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="row text-center"> 

      <div class="col-md-12 col-lg-12">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:10pt;">&copy Guitar</span>&nbsp;<span style="color:#FFD300; font-size:11pt;">Awesome </span><span style="color:whitesmoke; font-size:10pt;">2020</a>
      </div> 

    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'aff/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'aff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>