{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <strong><title href="#">Cover Songs</title></strong>
  <link rel="shortcut icon" type='image/png' href='/aff/images/favicon.png'/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'aff/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'aff/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="color:whitesmoke; font-size:30pt;">Guitar</span>&nbsp;<span style="color:#FFD300; font-size:32pt;">Awesome</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





<!-- <span style="color:whitesmoke;">Guitar</span>&nbsp;<span style="color:#FFD300;">Awesome</span> -->


  <header>
    

  </header>

  <!-- Page Content -->
  <div class="container">

<br/>
	<hr>
<br/>

    <!-- Marketing Icons Section -->
 

    <!-- Portfolio Section -->
    <strong><h1 class="my-4"> Covers of Awesome Songs</h1> </strong>
        <div class="row-md-4 center">
         <div class="embed-responsive embed-responsive-16by9">
           <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/y4FQZ0IB6MA?rel=0&amp; controls=0" frameborder="0" allowfullscreen></iframe>
        </div>

    

    <!-- /.row -->
<br/>
	<hr>
<br/>
    <!-- Features Section -->

      <div class="col-lg-6">
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "guitarawesome-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "35c6ab57886bb70b3abf588b381eb889";
amzn_assoc_asins = "B01EHJL652,B01N4DSQBR,B07X5F81JS,B07R3SD5MM";
amzn_assoc_search_bar = "true";
amzn_assoc_title = "More Favs";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="col mb-4">
      <div class="col-md-8">
        <p>Music styles are many and guitars are no different. Expand and challenge your skills by covering some of the greatests songs from classic to trendy. </p>
      </div>
  
      <div class="col-md-4">

        <a class="btn btn-lg btn-warning btn-block" href="https://youtu.be/y4FQZ0IB6MA" target="_blank">cover of the week</a>
      </div>
    </div>
   <!--  <div class="row-md-4 center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/y4FQZ0IB6MA?rel=0&amp; controls=0" frameborder="0" allowfullscreen></iframe>
        </div> -->


    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Guitar Awesome 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'aff/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'aff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>