{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <strong><title href="#">Guitar Awesome</title></strong>
  <link rel="shortcut icon" type='image/png' href='/aff/images/favicon.png'/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'aff/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'aff/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><span style="color:whitesmoke; font-size:30pt;">Guitar</span>&nbsp;<span style="color:#FFD300; font-size:32pt;">Awesome</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
    
      </div>
    </div>
  </nav>





<!-- <span style="color:whitesmoke;">Guitar</span>&nbsp;<span style="color:#FFD300;">Awesome</span> -->


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'aff/images/GuitarHeart.jpg' %}')">
          <div class="overlay-block"></div>
          <div class="carousel-caption d-none d-md-block">
            
            <h1>Acoustic Guitars</h1>
            <p>Reviews On Top Guitars</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'aff/images/ChanBannR.png' %}')">
          <div class="overlay-block"></div>
          <div class="carousel-caption d-none d-md-block">
            
            <h1>Acoustic / Electric Guitars</h1>
            <p>Guitars for every artist!</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
      
        <div class="carousel-item" style="background-image: url('{% static 'aff/images/music_001.jpg' %}')">
          <div class="overlay-block"></div>
          <div class="carousel-caption d-none d-md-block">
              <!-- fixxxxx OVERLAY -->
            <h1>Stream Sessions</h1>
            <p>Live Song Requests</p>
          </div>
        </div>
      
      

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

<br/>
	<hr>
<br/>

    <!-- Marketing Icons Section -->
 

    <!-- Portfolio Section -->
    <strong><h1 class="my-4">Most Popular</h1> </strong>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2ZVLRcd"><img class="card-img-top" src="{% static '/aff/images/taylor_314ce.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2ZVLRcd" style="text-decoration:none">Taylor Acoustic</a>
            </h4>
            <p class="card-text">While top musicians such as Jason Mraz, Taylor Swift and Zac Brown are known for sporting Taylor guitars on stage, most Taylor players are non-pros who "just buy them for their own enjoyment," says Taylor.</p>
            <a href="https://amzn.to/2ZVLRcd"><button type="button" class="btn btn-warning">$1999</button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2RWDA4x"><img class="card-img-top" src="{% static '/aff/images/YamahaSilent_1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2RWDA4x" style="text-decoration:none">Yamaha Silent</a>
            </h4>
            <p class="card-text">Compact and lightweight. The Silent Guitar is the perfect instrument for practice, travel, and apartment living. Although ultra-quiet acoustically, the Studio Response Technology (SRT) Powered preamp system delivers natural-sounding acoustic tone.</p>
            <a href="https://amzn.to/2RWDA4x"><button type="button" class="btn btn-warning">$699</button></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2RP6ymX"><img class="card-img-top" src="{% static '/aff/images/MartinDCX1AE.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2RP6ymX" style="text-decoration:none">Martin DCX1AE</a>
            </h4>
            <p class="card-text">A Sitka spruce top is paired with mahogany patterned high-pressure laminate (HPL) back and sides for a very classic looking Martin Dreadnought. This 14-fret guitar cutaway features a hand-rubbed top and neck finish with a Richlite fingerboard and bridge and Fishman Sonitone electronics.</p>
            <a href="https://amzn.to/2RP6ymX"><button type="button" class="btn btn-warning">$679</button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3eGpIF8"><img class="card-img-top" src="{% static '/aff/images/YamahaDread_1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3eGpIF8" style="text-decoration:none">Yamaha Dreadnought</a>
            </h4>
            <p class="card-text">The perfect entry level guitar. The comfortable dreadnought body, professional-grade tonewoods, and fast-playing necks make this acoustic great first instrument for the beginner.</p>
            <a href="https://amzn.to/3eGpIF8"><button type="button" class="btn btn-warning">$199</button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Kkjm0e"><img class="card-img-top" src="{% static '/aff/images/CherryElec_1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Kkjm0e" style="text-decoration:none">Schecter</a>
            </h4>
            <p class="card-text">The Schecter Omen Extreme-6 FR Electric Guitar is loaded with the features that modern guitarists seek-like the beautifully figured, carved maple top on a basswood body with a comfortable double-cutaway that gives you full access to the fast maple neck fitted with a rosewood fingerboard with 24 extra-jumbo frets.</p>
            <a href="https://amzn.to/2Kkjm0e"><button type="button" class="btn btn-warning">$489</button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cxZVNI"><img class="card-img-top" src="{% static '/aff/images/washburn_wd7SCE.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cxZVNI" style="text-decoration:none">Washburn</a>
            </h4>
            <p class="card-text">A personal favorite. The scalloped Sitka Spruce bracing help define note clarity throughout the entire register of the instrument, making it unparalleled in it’s price range. Whether at the living room jam, the campfire singalong or the stage; This Washburn Harvest D7SCE will be the perfect companion. As with most acoustic guitars used guitars have better tone.</p>
            <a href="https://amzn.to/3cxZVNI"><button type="button" class="btn btn-warning">$249</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
<br/>
	<hr>
<br/>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Learn to Play Tomorrow !</h2>
        <p>Lessons have never been easier </p>
        <ul>
          <li>
            <strong>Skype Instructors</strong>(coming soon)
          </li>
          <li>Schedule Lessons (coming soon)</li>
          <li>Initial Guitar Setup</li>
          <li>Beginner Sites</li>
          <li>Changing Guitar Strings</li>
        </ul>
        <p>Now more than ever the options of the best instructor is just a click away. Save time and money with an online guitar lesson. Track your progress with the archived lessons feature.</p>
        <button type="button" class="btn btn-warning">Sign up !</button>
      </div>
      <div class="col-lg-6">
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "guitarawesome-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "35c6ab57886bb70b3abf588b381eb889";
amzn_assoc_asins = "B01EHJL652,B01N4DSQBR,B07X5F81JS,B07R3SD5MM";
amzn_assoc_search_bar = "true";
amzn_assoc_title = "More Favs";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="col mb-4">
      <div class="col-md-8">
        <p>Music styles are many and guitars are no different. Expand and challenge your skills by covering some of the greatests songs from classic to trendy. </p>
      </div>
  
      <div class="col-md-4">

        <a class="btn btn-lg btn-warning btn-block" href="https://youtu.be/y4FQZ0IB6MA" target="_blank">cover of the week</a>
      </div>
    </div>
   <!--  <div class="row-md-4 center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/y4FQZ0IB6MA?rel=0&amp; controls=0" frameborder="0" allowfullscreen></iframe>
        </div> -->


    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Guitar Awesome 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'aff/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'aff/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>